body, html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Nanum;
  font-size: 12px;
  color: #424242;
}
h1, h2, h4 {
  margin: 0; 
}
header, footer, section, div {
  box-sizing: border-box;
}

/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px #7d97ad;
  min-height: 56px;
  transition: min-height 0.3s;
}

.header_container {
  display: flex;
  flex-direction: row;
  border: outset #bdc7c8;
  padding: 0;
}

.title_container {
  width: 100%;
  float: right;
  order: 1;
  padding: 0;
  margin: 0;
  margin-top: 4em;
  margin-right: 2em;
  text-align: right;
}

.header_logo {
   height: 165px;
   float: left;
   margin-left: 2em;
   order: 0;
 }

.header_title {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: right;
  color: #212829;
}

.header_subtitle {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #7a8e8e;
}

/*
 *
 * Main
 *
 */

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.center_image {
  height: 50%;
  width: 100%;
  max-width: 800px;
  border: outset thin #bdc7c8;
  image-resolution: from-image;
  order:2;
  padding: 2em;
}
.featured_work {
  margin: 0;
  font-size: 25pt;
  color: #424242;
 }
.thumbnails {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-grow: 2;
  justify-content:space-around;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.animal_card {
  flex-basis: 25%;
  order: 3;
  background-color: #02b3e4;
  border: outset #02b3e4;
}

.pixel_art_maker {
  flex-basis: 25%;
  order: 4;
  background-color: #02b3e4;
  border: outset #02b3e4;
}

.humans_vs_machines {
  flex-basis: 25%;
  order: 5;
  background-color: #02b3e4;
  border: outset #02b3e4;
}
.project_image {
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  align-content: center;
}
.project_title {
  text-align: center;
  padding: 0;
  color: #212829;
}
.project_text {
  align-self: center;
  margin:1em;
  text-align: left;
  color: #7a8e8e;
}

/*
 *
 * Footer
 *
 */

.footer_container {
  border-top: 1px solid #E0E0E0;
  border: outset #7d97ad;
  padding: 1em;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
  background-color: #7d97ad;
}
.footer_logo {
  height: 25px;
  padding-bottom: 6px;
  width: 25px; 
}
