@media screen and (max-width: 450px) {
  .center_image {
	padding: 0em;
	align-content: center;
  }
  .project_image
  {
	padding: 0em;
	align-content: center;
	height: 75%;
  }
  .project_title {
	font-size: 8px;
 }	
  .header_logo {
    height: 48px;   
  }
   .header_title, .header_subtitle {
    margin-left: 0;
	margin-right: 0;
    vertical-align: bottom; 	
  }
 }

@media screen and (min-width: 700px) {
  .header_container, .main, .footer_container {
    width: 700px;
    margin-left: 0;
    margin-right: 0;
  }
   .center_image {
	padding: 0em;
	align-content: center;
	height: 90%;
  }
  .project_image
  {
	padding: 0em;
	align-content: center;
	height: 75%;
  }

}

@media screen and (min-width: 850px) {
  .header_container, .main, .footer_container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .center_image {
  height: 50%;
  width: 100%;
  max-width: 800px;
  border: outset thin #bdc7c8;
  image-resolution: from-image;
  order:2;
  padding: 2em;
  }
}